<blockquote>
    <h5>Dashboard</h5>
</blockquote>
<h3>Welcome {{name}}</h3>
<h6>Here are your stories</h6>
{{#if stories}}
<table class="highlight">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each stories}}
        <tr>
            <td><a href="/stories/{{_id}}">{{title}}</a></td>
            <td>{{formatDate createdAt "dddd, MMMM Do YYYY, h:mm:ss a"}}</td>
            <td><span class="dash-status">{{status}}</span></td>
            <td>
                <a href="/stories/edit/{{_id}}" class="btn btn-float">
                    <i class="fa-solid fa-file-pen"></i>
                </a>
                <form action="/stories/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn red" type="submit">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>You have not created any story yet</p>
{{/if}}